<div class="dropdown-custom">
  <div class="dropdown-style">
    <div class="dropdown-items">
      <h6>Bairro</h6>
      <div class="flex-column">
        <div class="dropdown-options">
          <input type="checkbox">
          <label for="">
            rua tal tal tal
          </label>
        </div>
      </div>
    </div>
    <div class="dropdown-items">
      <h6>Condominio</h6>
        <div class="flex-column d-flex">
          <div class="dropdown-options">
            <input type="checkbox">
            <label for="">
              condominio tal tal tal
            </label>
          </div>
        </div>
    </div>
  </div>
</div>