<div class="col-12 d-lg-block d-none">


  <div class="row">
   
    <div class="col-12">
      <h6>Tipo do imóvel</h6>

      <select name="" id="" class="select-form" >
        <option value="" disabled selected hidden>Todos os imóveis</option>
      </select>
      <!-- <mat-form-field>
        <mat-select placeholder="Todos os imóveis" multiple (selectionChange)="changeTipo($event)" [(ngModel)]="tiposSelecionados">
          <mat-option *ngFor="let tipo of (customSearch.finalidade === 'residencial' ? TIPOS_RESIDENCIAL : TIPOS_RESIDENCIAL)" [value]="tipo">{{tipo | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="col-12">
      <h6>Valor</h6>
      <div class="col d-flex p-0">
        <div class="mr-3">
          <div class="form-group">
            <label for="price_min">Preço mínimo</label>
            <input type="text" class="form-control" id="price_min" [textMask]="{mask: MASKS.currency.textMask}"  placeholder="Ex.: R$ 100"/>
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="price_max">Preço máximo</label>
            <input type="text" class="form-control" id="price_max"  [textMask]="{mask: MASKS.currency.textMask}"  placeholder="Ex.: R$ 1.000.000"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 order-md-2 form-group">
      <h6>Quartos</h6>
      <div class="boll-selector">
        <button><span>1</span>
        </button>
        <button><span>2</span>
        </button>
        <button><span>3</span>
        </button>
        <button><span>4+</span>
        </button>
      </div>
    </div>
    <div class="col-12 order-md-2 form-group">
      <h6>Banheiros</h6>
      <div class="boll-selector">
        <button><span>1</span>
        </button>
        <button><span>2</span>
        </button>
        <button><span>3</span>
        </button>
        <button><span>4+</span>
        </button>
      </div>
    </div>
    <div class="col-12 order-md-2">
      <h6>Garagem</h6>
      <div class="boll-selector">
        <button><span>1</span>
        </button>
        <button><span>2</span>
        </button>
        <button><span>3</span>
        </button>
        <button><span>4+</span>
        </button>
      </div>
    </div>
    <div class="col-12  order-md-1">
      <h6>Área</h6>
      <div class="col d-flex p-0">
        <div class="mr-3">
          <div class="form-group">
            <label for="area_min">Mínimo 20m²</label>
            <input type="text" class="form-control" id="area_min" [textMask]="{mask: MASKS.number.textMask}" placeholder="Ex.: 10 m²"/>
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="area_max">Máximo 1.000 m²</label>
            <input type="text" class="form-control" id="area_max" [textMask]="{mask: MASKS.number.textMask}" placeholder="Ex.: 1000 m²"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5 d-none d-sm-flex">
    <div>
      <button class="button-apply justify-content-center"><i class="custom-search"></i>Aplicar
        filtros
      </button>
    </div>
  </div>
</div>